<p style="color: green"><%= notice %></p>

<h1>Estoques</h1>

<br>

<div class="table-responsive">
  <table class="text-center table table-striped table-bordered table-hover" id="tabelaEstoque">
    <thead>
        <tr>
          <th class="text-center">Produto</th>
          <th class="text-center">Valor</th>
          <th class="text-center">Quantidade</th>
          <th class="text-center">Descrição</th>
          <th class="text-center">Lote</th>
          <th></th>
    </tr>
    <tbody>
        <% @estoques.each do |estoque| %>
            <tr>
                <%= render estoque %>
                <td>
                    <%= link_to "Mostrar", estoque, class: 'btn btn-outline-info' %>
                </td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to "Novo Estoque", new_estoque_path, class: 'btn btn-outline-success' %>
