<h1>Cadastrar Estoque</h1>

<div class="form-control">
  <%= render "form", estoque: @estoque %>
</div>

<br>

<div>
  <%= link_to "Back to estoques", estoques_path, class: 'btn btn-outline-dark' %>
</div>
