<h1>Início</h1>

<h3>Produtos</h3>

<div class="table-responsive">
  <table class="text-center table table-striped table-bordered table-hover">
    <thead>
      <th>Produto</th>
      <th>Quantidade</th>
      <th></th>
    </thead>

    <tbody>
      <% @produtos.each do |p| %>
        <tr>
          <td><%= p.nome %></td>
          <% quantidade_total = @estoques.where(:produto_id => p.id) %>
          <td><%= quantidade_total.sum(:quantidade) %></td>
          <td><%= link_to 'Mostrar', produto_path(p.id), class: 'btn btn-outline-info' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>