<p style="color: green"><%= notice %></p>

<h1>Produtos</h1>

<div class="table-responsive">
  <table class="text-center table table-striped table-bordered table-hover" id="tabelaEstoque">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @produtos.each do |produto| %>
      <tr>
        <%= render produto %>
        <td>
          <%= link_to "Mostrar", produto, class: 'btn btn-outline-info' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Novo Produto", new_produto_path, class: 'btn btn-outline-success' %>
